header li {
    display: inline;
}

header ul {
    margin: 0px;
    padding: 0px;
}


header li:first-child img {
    margin-left: 80px;
    margin-right: 704px;
    margin-top: 31px;
}


header {
    width: 1440px;
    height: 121px;
    margin: 0px;
    padding: 0px;
}

header a {
    color: #808080;
    text-decoration: none;
}

.first {
    width: 1440px;
    height: 755px;
    margin-top: 23px;
    margin-left: 0px;
    background-image: url(breather-196135.jpg);
}

.second {
    width: 940px;
    height: 83.89px;
    border-radius: 5px;
    margin-left: 250px;
    margin-top: 319.62px;
}
.first ::placeholder {
    text-align: center;
    font-size: 24px;
    color: #808080;
}

.first :last-child img {
    width: 30.72px;
}

header li:last-child a {
    color: #4A90E2;
    font-weight: bold;
}

.third {
    width: 1280px;
    height: 395px;
    margin-left: 80px;
    margin-top: -108px;
    background-color: white;
}

.third li {
    display: inline;
}

.third li:first-child img {
    width: 210px;
    height: 186px;
    margin-left: 0px;
    padding-top: 53px;
}

.third li:nth-child(2) img {
    width: 154px;
    height: 186px;
    padding-left: 448px;
    padding-top: 155px;
}

.third li:nth-child(3) img {
    width: 118px;
    height: 186px;
    padding-left: 772px;
    padding-top: 155px;
}

.third li:last-child img {
    width: 118px;
    height: 186px;
    padding-left: 1059px;
    padding-top: 155px;
}

.third h3 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}