header {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    align-content: flex-start;
    flex-wrap: wrap;
}

header img {
    width: 100%;
    height: auto;
    max-width: 262px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header-container nav {
    flex-grow: 0.5;
}

header a {
    color: #808080;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

header li:last-child a {
    color: #4A90E2;
    font-family: 'Open Sans', bold;
    font-weight: bold;
}

header h1 {
    margin-left: 5%;
}

.search_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 755px;
    margin-top: 0%;
    margin-left: 0%;
    background-image: url(../images/breather-196135.jpg);
    background-size: auto;
    position: relative;
}

.search_area form {
    width: 65%;
    height: 11%;
}

.search_area button {
    width: 30.72px;
    position: absolute;
    right: 20%;
    top: 47.5%;
    background-color: white;
    border: none;
}

.search {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: white;
}

.search_area ::placeholder {
    text-align: center;
    font-size: 24px;
    color: #808080;
    font-family: 'Open Sans', sans-serif;
}

.search_area button img {
    width: 30.72px;
}

.list_advantages {
    width: 89%;
    margin: auto;
    margin-top: -108px;
    margin-bottom: 5%;
    background-color: white;
    position: relative;
}

.list_advantages ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
}

h3 {
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
}

.list_services {
    width: 89%;
    margin: auto;
}

.list_services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    padding: 0px;
}

.list_services li {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}

.list_services img {
    max-width: 95%;
    height: auto;
}

.form {
    margin: auto;
    width: 89%;
}

.form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.form input[type=text], [type=email], [type=tel] {
    width: 55%;
    height: 52px;
    border-radius: 4px;
    border-color: #CBCBCB;
    border-width: 1px;
}

.form input[id=message] {
    width: 55%;
    height: 166px;
    border-radius: 4px;
    border-color: #CBCBCB;
    border-width: 1px;
}

.form input[type=checkbox] {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border-color: #CBCBCB;
    border-width: 1px;
}

.form div {
    /*kostil*/
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    align-self: flex-start;
    color: #474747;
}

.form ::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #8B8B8B;
}

.form button {
    width: 55%;
    height: 50px;
    background-color: #4A90E2;
    color: white;
    border-radius: 4px;
    border: none;
    margin-top: 3%;
}

.form p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #474747;
}

.list_testimonials {
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.list_testimonials ul {
    width: 80%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgb(168, 166, 166);
    border-width: 2px;
}

blockquote {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 30px;
}

.img_margin {
    margin: auto;
}

.blue_border {
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-width: 5px;
}

.list_testimonials button {
    border: none;
}

.list_testimonials p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #d2d5d8;
    font-weight: lighter;
    margin-bottom: 4px;
    font-size: 22px;
}

.list_testimonials .p_par {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #d2d5d8;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 100px;
}

.list_testimonials .signature {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #d2d5d8;
    font-weight: lighter;
    font-size: 12px;
}

.join_us {
    width: 100%;
    height: 234px;
    background-color: #4A90E2;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.join_us h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.83px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.join_us button {
    width: 320px;
    height: 84px;
    border-radius: 42px;
    border-color: white;
    background-color: white;
    color: #4A90E2;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 0.63px;
    font-weight: lighter;
}

footer {
    background-color: #2C2C2C;
    width: 100%;
    position: relative;
}

footer a, p, li {
    color: #9FA3A7;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 36px;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding: 0px;
}

footer h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: lighter;
    color: white;
    text-align: left;
}

.footer_containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.logo_margin {
    margin-left: 50px;
    margin-bottom: 0px;
}

.h3_param {
    padding: 0px;
    margin-bottom: 0px;
}

.ul_param {
    margin-top: 0px;
}

.ul_param li {
    height: 20px;
    line-height: 20px;
}

.box {
    flex-grow: 0.3;
}

.box ul {
    height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box ul a {
    padding-right: 30px;
}

.h3_par {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.mb {
    margin-top: 0px;
}

.section_flex {
    display: flex;
    flex-direction: column;
}

.p_param {
    line-height: 25px;
}

.f_container {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: auto;
}

.f_container a {
    margin-right: 20px;
    margin-left: 20px;
}

.stick li::after {
    content: '|';
}

.stick li:last-child::after {
    content: none;
}

/*a:hover {
    color: tomato;
}

a:visited {
    color: teal;
}*/

@font-face {
    font-family: 'Market Deco';
    src: url(../fonts/Market_Deco.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Visby CF-Extra Bold';
    src: url(../fonts/VisbyCF-ExtraBold.ttf);
    font-style: normal;
    font-weight: bolder;
}

@font-face {
    font-family: 'Visby CF-Extra BoldOblique';
    src: url(../fonts/VisbyCF-ExtraBoldOblique.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Visby CF-Heavy';
    src: url(../fonts/VisbyCF-Heavy.ttf);
    font-style: normal;
    font-weight: bolder;
}

/*h3 {
    font-family: 'Market Deco';
}*/

body {
    width: 100%;
    max-width: 1440px;
    margin: 0%;
    overflow-x: hidden;
}

html {
    width: 100%;
    max-width: 1440px;
    margin: 0%;
}

button {
    cursor: pointer;
}

main {
    max-width: 100%;
    position: relative;
}

/*.fr {
    justify-content: space-around;
}*/

.modal {
    width: 320px;
    height: 320px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

.popeup {
    display: none;
    position: fixed;
}

.modal img {
    width: 100%;
    height: auto;
}

.modal h1 {
    width: 50%;
    margin: auto;
}

.modal h4 {
    margin: auto;
    text-align: center;
    font-family: 'Visby CF-Heavy';
    font-size: 150%;
    color: #445266;
}

.logos {
    background-color: #445266;
}

.logos ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0px;
}

.logos li {
    margin-top: 2%;
}

.modal_close {
    border: none;
    margin-top: 0%;
    width: 5%;
    margin-left: 95%;
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.modal_close a {
    background-color: white;
    text-decoration: none;
    color: #445266;
}

.modal_form {
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.modal_form input {
    width: 100%;
    height: 40px;
    margin: 0%;
    margin-bottom: 5%;
    border-radius: 4px;
    border-color: #CBCBCB;
    border-width: 1px;
}

.modal_checkbox {
    display: flex;
    justify-content: flex-start;
}

.modal_checkbox input {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}

.modal_checkbox div {
    color: #445266;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.modal_form button {
    border-radius: 5px;
    color: white;
    background-color: #445266;
    border: none;
    width: 30%;
    height: auto;
}

.modal_form a {
    text-decoration: none;
    color: #445266;
    margin: 1%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.shirma {
    width: 100%;
    height: 100%;
    background-color: rgb(104, 103, 102);
    opacity: 0.2;
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}